@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Hi i am a dog named AXEL Haf!Haf!</h3>
    <p>This is my list of nick names :P</p>
    <img src="/axigo.jpg" class="img-thumbnail"/>    
</div>
